body{
	background: url('../img/background.jpg');
}
.menu{
	margin: 0 auto;
	width: 100%;
}

.menu tr{
	margin: 5px 0 0 0;

}

.menu td{
	padding: 10px 0 10px 0;
	text-align: center;
	border: 1px #000 solid;
	display: block;
	margin: 0 0 10px 0;
	background: #FFF;
}

.menu td a{
	text-decoration: none;
}